
body{
    background-image: url(../images/frac1.png);
    background-repeat: repeat-x repeat-y;
    background-size: 1920px 1080px;
    
}

.gameBox{
    top: 30px;
    display: inline-block;
    width: 90%;
    height: 500px;
    left: 5%;
    position: relative;
    color: white;
    background-color: rgba(0,0,0,0.6);
    margin-top: 10px;
}

.gameBox h1{
    text-align: center;
    opacity: 1;
    padding-top: 0px;
    margin: 0px;
}


#noGames {
    font-size: 30px;
    text-align: center;
    height: 250px;
}

.gameBox p{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px;
    left: inherit;
    position: relative;
    word-wrap: break-word;
    opacity: 1;
    padding-top: 0px;
    margin-top: 0px;
    left: -4%;
}

.gameBox table{
    text-align: center;
    float: bottom;
    height: 25px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.gameBox img{
    position: relative;
    display: block;
    width: inherit;
    margin-left: 0px;
    padding-left: 0px;
    height: 300px;
    margin-top: 5px;
    left: inherit;
}

#gameInfo p{
text-align: center;
color: white;
}


#gameInfo table tr td a:hover{
background-color: grey;
color: black;
}

#gameInfo table tr td a{
    left: -2.5%;
}

@media only screen and (max-width: 590px) {
#gameInfo table td{
    display: inline-block;
    margin-left: 20px;
    width: 100%;
}
}