*{
  box-sizing: border-box;
}

body{
    background-image: url(Images/board.jpg);
    background-repeat: repeat;
}

.photo{
   display: inline-block;
   position: relative; 
   border: 20px solid #fff;
   border-bottom: 45px solid #fff;
   background-color: white;
}

.pin{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;   
    height: 100px;    
}

.image{
    width: 400px;
    height: 400px;
}


.label{
    position: absolute;
}