body{
    margin: 0px;
}

#container{
    background-color: red;
    position: relative;
    height: 800px;
}


#container input{
    display: none;
}

.page{
    width: 100%;
    height: inherit;
    background-size: auto;
    position: absolute;
    display: none;
}

#page1{
    background-image: url(images/background-1.jpg)
}

#page2{
    background-image: url(images/background-2.jpg)
}

#page3{
    background-image: url(images/background-3.jpg)
}

input[type="radio"]:checked + .page {
  display: block;
}

#controls{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 700px;
    width: 50px;
    font-size: 30px;
    color: white;
}

label:hover{
    cursor: pointer;
}
#show1:checked ~ #controls label:nth-child(1){
    color: red;
}

#show2:checked ~ #controls label:nth-child(2){
    color: red;
}

#show3:checked ~ #controls label:nth-child(3){
    color: red;
}