body{
 background-color: lightcyan; 
}
h3{
    font-size: 24pt;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: 0;
    margin-top: 0;
}


.answer{
      font-family: 'Crimson Text', serif;  
}